@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.6lvw;
}

body {
    background-color: #0d1117;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.light-text {
    color: #d6e2e7;
    opacity: 0.8;
}

.dark-text {
    color: #ffffff;
    opacity: 0.4;
}

.fa-arrow-right {
    color: #317dff;
    transform: rotate(315deg);
}

a {
    text-decoration: none;
}

/* Main */
.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 55lvw;
    height: 100lvh;
}

.top-gradient {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100lvw;
    height: 6lvh;
    background-image: linear-gradient(#0d1117, #0d111700);
}

.bottom-gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100lvw;
    height: 6lvh;
    background-image: linear-gradient(#0d111700, #0d1117);
}

.stripe {
    position: absolute;
    top: -52.5lvw;
    z-index: 0;
    transform: rotate(315deg);
    background-image: linear-gradient(#B1B2B5 40%, #0d1117 70%);
    opacity: 0.05;
    width: 40lvw;
    height: 150lvw;
}

.intro {
    width: 50lvw;
    margin-top: 13lvw;
    margin-left: 4lvw;
}

.greeting {
    font-size: 7rem;
    font-weight: 800;
}

.job-title {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 2.25lvw;
}

.professional-statement {
    font-size: 5rem;
    font-weight: 500;
    margin-top: 2.25lvw;
}

.software {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    /* background: linear-gradient(90deg, #317dff, #9072ff); */
    -webkit-background-clip: text;
    color: transparent;
}

.technologies {
    position: absolute;
    bottom: 2lvw;
    display: flex;
    align-items: center;
    opacity: 0.2;
    margin-left: 4lvw;
    gap: 4lvw;
}

.django {
    height: 1.6lvw;
}

.flask {
    height: 2lvw;
}

.mysql {
    height: 2.5lvw;
    margin-bottom: 1lvw;
}

.aws {
    height: 2lvw;
    margin-top: 0.5lvw;
}

.duct-tape {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 800;
}


/* ### Scroll Content ### */

/* Projects */
.scroll-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 40lvw;
}

.links {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5lvw;
    margin-top: 6lvw;
}

.links i {
    color: #d6e2e7;
    opacity: 0.8;
    font-size: 4rem;
    margin-bottom: 1.25lvw;
}

.links .vertical-line {
    height: 57vh;
    background-color: #317dff;
    width: 2px;
}

.projects {
    margin-top: 6lvw;
}

.project {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35lvw;
    height: 14.5lvw;
    margin-bottom: 1lvw;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.25s ease;
}

.project:hover {
    opacity: 1.0;
}

.date {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 3lvw;
}

.date p {
    transform-origin: 100% 100%;
    transform: rotate(315deg);
    transition: transform 0.25s ease;
}

.card {
    width: 26lvw;
    height: 100%;
    background-color: #B1B2B510;
    border-radius: 8px;
}

.card img {
    width: 15lvw;
    height: 10lvw;
    border: 1px solid #ffffff10;
    border-radius: 5px;
}

.screen {
    position: relative;
    z-index: 1;
    margin-left: -6lvw;
}

.screen::before {
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.35) 80%, transparent);
    position: absolute;
    opacity: 0.55;
    border-radius: 5px;
}

.card-top {
    display: flex;
    margin-top: 1lvw;
}

.card .details {
    margin-left: 1lvw;
}

.card .title {
    display: flex;
    align-items: end;
    font-size: 2rem;
    font-weight: 600;
}

.card .version {
    font-size: 1.25rem;
    font-weight: 400;
}

.project:hover .card .title .arrow {
    transform: translate(0.25lvw, -0.25lvw);
}

.arrow {
    display: flex;
    align-items: end;
    font-size: 1.5rem;
    transition: transform 0.25s ease;
    margin-left: 0.25lvw;
}

.card .horizontal-line {
    position: relative;
    height: 2px;
    background-color: #317dff;
    opacity: 0.1;
    margin-top: 1lvw;
    margin-right: 2lvw;
}

.card .horizontal-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: -17lvw;
    right: 0lvw;
    height: 100%;
    background-color: inherit;
}

.card .description {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.25px;
    margin-top: 1lvw;
    padding-right: 2.5lvw;
    /* border: 1px solid red; */
}

.card .tags {
    display: flex;
    margin-left: 1lvw;
    gap: 0.75lvw;
}

.card .tag {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5lvw;
    margin-top: 1lvw;
}

.card .tag::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #317dff;
    border-radius: 10vw;
    opacity: 0.1;
}

.card .tag p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #84a0cf;
    margin-left: 0.75lvw;
    margin-right: 0.75lvw;
}

/* Contact Section */
.contact {
    height: 100lvh;
    margin-left: -1.5lvw;
    border: 1px solid #0d111700;
}

.contact form {
    width: 33lvw;
    margin-top: 13lvw;
}

.contact .title {
    font-size: 4rem;
    font-weight: 800;
}


.contact input {
    font-size: 4rem;
    font-weight: 800;
    width: 23lvw;
    background-color: #0d1117;
    color: #ffffff70;
    border: none;
    border-bottom: 0.6lvw solid #317dff50;
    margin-top: 2.5lvw;
    padding-bottom: 0.5lvw;
}

.contact input:focus {
    outline: none;
    color: #ffffff;
    border-bottom: 0.6lvw solid #317dff;
}

.contact textarea {
    font-size: 4rem;
    font-weight: 800;
    width: 100%;
    font-family: "Inter", sans-serif;
    color: #ffffff70;
    background-color: #0d1117;
    border: none;
    border-bottom: 0.6lvw solid #317dff50;
    margin-top: 2lvw;
    overflow-y: hidden;
    padding-top: 1lvw;
    padding-bottom: 0.65lvw;
    resize: none;
}

.contact textarea:focus {
    color: #ffffff;
    border-bottom: 0.6lvw solid #317dff;
    outline: none;
}

.contact .send {
    display: flex;
    justify-content: end;
    margin-top: 1lvw;
    /* border: 1px solid red; */
}

.send-btn {
    display: flex;
    /* border: 1px solid white; */
    cursor: pointer;
}

.send button {
    background-color: #0d1117;
    outline: none;
    border: none;
    font-size: 3.5rem;
    font-weight: 800;
    cursor: pointer;
}

.send-btn .arrow{
    margin-bottom: 0.75lvw;
}

.send-btn:hover .arrow {
    transform: translate(0.25lvw, -0.25lvw);
    /* background-color: red; */
}

/* ########## MOBILE ######### */
@media (max-width: 600px) {

    .mobile{
        display: contents !important;
    }

    .main {
        position: relative;
        top: 0;
        left: 0;
        width: 100lvw;
        height: unset;
        /* border: 1px solid red; */
    }

    .stripe {
        /* position: absolute; */
        top: -25lvw;
        /* z-index: 0; */
        /* transform: rotate(315deg); */
        /* background-image: linear-gradient(#B1B2B5 40%, #0d1117 70%); */
        /* opacity: 0.05; */
        width: 80lvw;
        /* height: 150lvw; */
    }
    
    .intro {
        width: 75lvw;
        margin-top: 25lvw;
        margin-left: 8lvw;
    }
    
    .greeting {
        font-size: 10.5rem;
        /* font-weight: 800; */
    }
    
    .job-title {
        font-size: 5rem;
        /* font-weight: 500; */
        margin-top: 4lvw;
    }
    
    .professional-statement {
        font-size: 7.5rem;
        /* font-weight: 500; */
        margin-top: 4lvw;
    }

    
    .technologies {
        display: none;
    }

    .scroll-content {
        /* display: none; */
        position: relative;
        /* top: 50lvw; */
        left: 0;
        width: 40lvw;
    }

    .links{
        display: none;
    }

    
    /* PROJECTS */
    .projects {
        margin-top: 35lvw;
        margin-left: 8lvw;
    }

    .project {
        /* position: relative; */
        /* display: flex; */
        /* justify-content: space-between; */
        width: 92lvw;
        height: unset;
        margin-bottom: 6lvw;
        /* cursor: pointer; */
        opacity: 1;
        /* transition: opacity 0.25s ease; */
        /* border: 1px solid red; */
    }
    
    /* .project:hover {
        opacity: 1.0;
    } */
    
    .date {
        display: none;
        /* font-size: 1.4rem; */
        /* font-weight: 500; */
        /* margin-top: 3lvw; */
    }
    
    /* .date p {
        transform-origin: 100% 100%;
        transform: rotate(315deg);
        transition: transform 0.25s ease;
    } */
    
    .card {
        width: 90lvw;
        /* height: 100%; */
        background-color: unset;
        /* border-radius: 8px; */
        /* border: 1px solid red; */
    }
    
    .card img {
        width: 40lvw;
        height: 26.7lvw;
        /* border: 1px solid #ffffff10; */
        /* border-radius: 5px; */
    }
    
    .screen {
        /* position: relative; */
        /* z-index: 1; */
        margin-left: 0lvw;
    }
    
    /* .screen::before {
        content: "";
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.35) 80%, transparent);
        position: absolute;
        opacity: 0.55;
        border-radius: 5px;
    } */
    
    .card-top {
        display: flex;
        margin-top: 1lvw;
    }
    
    .card .details {
        margin-left: 3lvw;
    }
    
    .card .title {
        /* display: flex; */
        /* align-items: end; */
        font-size: 6.25rem;
        /* font-weight: 600; */
    }
    
    .card .version {
        font-size: 2.5rem;
        /* font-weight: 400; */
    }
    
    /* .project:hover .card .title .arrow {
        transform: translate(0.25lvw, -0.25lvw);
    } */
    
    .card .arrow {
        /* display: none; */
        /* display: flex; */
        /* align-items: end; */
        font-size: 4rem;
        /* transition: transform 0.25s ease; */
        margin-left: 1.5lvw;
    }
    
    .card .horizontal-line {
        display: none;
        /* position: relative;
        height: 2px;
        background-color: #317dff;
        opacity: 0.1;
        margin-top: 1lvw;
        margin-right: 2lvw; */
    }
    
    /* .card .horizontal-line::before {
        content: '';
        position: absolute;
        top: 0;
        left: -17lvw;
        right: 0lvw;
        height: 100%;
        background-color: inherit;
    } */
    
    .card .description {
        font-size: 4rem;
        /* font-weight: 300; */
        /* letter-spacing: 0.25px; */
        margin-top: 2.5lvw;
        /* padding-right: 2.5lvw; */
        /* border: 1px solid red; */
    }
    
    .card .tags {
        /* display: flex; */
        margin-left: 0;
        margin-right: 2lvw;
        gap: 1.5lvw;
    }
    
    .card .tag {
        /* position: relative; */
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        height: 4lvw;
        margin-top: 2.5lvw;
    }
    
    /* .card .tag::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: #317dff;
        border-radius: 10vw;
        opacity: 0.1;
    } */
    
    .card .tag p {
        font-size: 4rem;
        /* font-weight: 500; */
        /* color: #84a0cf; */
        margin-left: 1.75lvw;
        margin-right: 1.75lvw;
    }
}