@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}
html{
    font-size: 0.6lvw;
}
body{
    background-color: #0d1117;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.light-text{
    color: #d6e2e7;
    opacity: 0.8;
}
.dark-text{
    color: #ffffff;
    opacity: 0.4;
}
.fa-arrow-right{
    color: #317dff;
    transform: rotate(315deg);
}

/* Main */
.main{
    /* display: flex; */
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 1; */
    width: 55lvw;
    height: 100lvh;
    /* background-color: red; */
}
.top-gradient{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100lvw;
    height: 10lvh;
    background-image: linear-gradient(#0d1117, #0d111700);
}
.bottom-gradient{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100lvw;
    height: 10lvh;
    background-image: linear-gradient(#0d111700, #0d1117);
}
.stripe{
    position: absolute;
    top: -52.5lvw;
    z-index: 0;
    transform: rotate(315deg);
    background-image: linear-gradient(#B1B2B5 40%, #0d1117 90%);
    opacity: 0.05;
    width: 40lvw;
    height: 150lvw;
}
.intro{
    width: 50lvw;
    margin-top: 13lvw;
    margin-left: 4lvw;
}
.name{
    font-size: 7rem;
    font-weight: 800;
}
.job-title{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 2.25lvw;
}
.professional-statement{
    font-size: 5rem;
    font-weight: 500;
    margin-top: 2.25lvw;
}
.software {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    /* background: linear-gradient(90deg, #317dff, #9072ff); */
    -webkit-background-clip: text;
    color: transparent; 
    }
.technologies{
    position: absolute;
    bottom: 2lvw;
    display: flex;
    align-items: center;
    opacity: 0.2;
    margin-left: 4lvw;
    gap: 4lvw;
}

.django{
    height: 1.6lvw;
}
.flask{
    height: 2lvw;
}
.mysql{
    height: 2.5lvw;
    margin-bottom: 1lvw;
}
.aws{
    height: 2lvw;
    margin-top: 0.5lvw;
}
.duct-tape{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 800;
}


/* Scroll Content */
.scroll-content{
    /* border: 1px solid bisque; */
    /* background-color: bisque; */
    position: absolute;
    top: 0;
    right: 0;
    width: 40lvw;
    /* height: 100lvh; */
    height: 300lvh;
}
.links{
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5lvw;
    margin-top: 6lvw;
    /* border: 1px solid red; */
}
.links i{
    color: #d6e2e7;
    opacity: 0.8;
    font-size: 4rem;
    margin-bottom: 1.25lvw;
}
.links .vertical-line{
    height: 57vh;
    background-color: #317dff;
    width: 1.5px;
}
.projects{
    margin-top: 10lvw;
    }
.project{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid bisque; */
    width: 35lvw;
    height: 14lvw;
    margin-bottom: 1lvw;
    cursor: pointer;
}
.date{
    font-size: 1.4rem;
    font-weight: 500;
}
.card{
    width: 26lvw;
    height: 100%;
    background-color: #B1B2B510;
    border-radius: 8px;
}
.card img{
    z-index: 1;
    width: 15lvw;
    height: 10lvw;
    border: 1px solid #ffffff10;
    border-radius: 5px;
    margin-left: -6lvw;
}
.card-top{
    display: flex;
    margin-top: 1lvw;
}
.card .details{
    margin-left: 1lvw;
}
.card .title{
    display: flex;
    align-items: end;
    font-size: 2rem;
    font-weight: 800;
}
.card .title i{
    font-size: 1.5rem;
    margin-left: 0.25lvw;
}
.card .horizontal-line{
    position: relative;
    height: 2px;
    background-color: #317dff;
    opacity: 0.1;
    margin-top: 1lvw;
    margin-right: 2lvw;
}
.card .horizontal-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: -17lvw;
    right: 0lvw;
    height: 100%;
    background-color: inherit;
}
.card .description{
    font-size: 1.5rem;
    margin-top: 1lvw;
    /* border: 1px solid red; */
    padding-right: 3lvw;
}